<h1>Name: <%= @dog.name %><br></h1>
<%= @dog.breed %><br>
<%= @dog.age %><br>

<h3>Owner(s): </h3>

<% @dog.employees.each do |employee| %>
<h4> <%= employee.first_name %> <%= employee.last_name %></h4>
<% end %>